# Xcode
build/
DerivedData/
*.xcodeproj/xcuserdata/
*.xcworkspace/xcuserdata/
*.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
xcuserdata/

# Swift Package Manager
.build/
Packages/
Package.resolved

# macOS
.DS_Store
*.swp
*~

# IDE
.idea/
*.code-workspace
.vscode/

# Archives
*.ipa
*.dSYM.zip
*.dSYM

# Signing
*.mobileprovision
*.provisionprofile

# Env
.env
.env.local
